h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
#listaordenada01{
    background-color: aqua;
}
.cordefundo {
    background-color: blueviolet;
}
p {
    font-weight: 600;
    font-size: 3em;
}
body {
    font-size: 16px;
    font-style: italic;
    line-height: 2;
    text-decoration: underline;
}
#red{
    background-color: red;
}
#amarelo{
    background-color: yellow;
}
#amaverde{
    background-color: yellowgreen;
}