ol {
    background-color: yellow;
}
ol li:nth-child(even){
    background-color: green;
}
ol li:nth-child(odd){
    text-transform: uppercase;
}
h1, h3 {
    color: red;
}

h1 em, h3 em{
    font-size: 40px;
    border: 1px black solid;
}

li{
    font-size: 20px;
}
li em{
    font-weight: bold;
}

#linguagem li:not(:nth-child(n+4)){
    color: blue;
}
.rosa{
    background-color: pink;
}
.sites li:hover{
    font-weight: bold;
}
.sites li:hover a[href*="stackoverflow"] {
    color: orange;
}
.sites li:hover a[href*="w3schools.com"] {
    color: green;
}
.sites li:hover a[href*="https://developer.mozilla.org/pt-BR/"] {
    color: black;
}
.sites li:hover a[href*="devdocs.io"] {
    color: yellow;
}
.sites li:hover a[href*="trybe.com"] {
    color: green;
}